//variables

$deepblue: #032f3e;
$offwhite: #f8f9fb;
$sectionheading: 24px;
$bannerheading: 46px;

//mixins

@mixin banner {
	width: 100%;
	position: relative;
	color: white;
	.banner-content {
		position: absolute;
		top: 50px;
		width: 100%;
	}
	.img {
		width: 100%;
	}
	span {
		font-size: $bannerheading;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
	}
	span .title{
		font-weight: normal;
		margin-bottom: 30px;
	}
}


//main css

#main-nav {
	background: $deepblue;
	ul {
		width: 100%;
	}
	li {
		float: left;
		width: 15%;
	}
	a{
		color: $offwhite;
		text-decoration: none;
		padding: 16px;
		display: block;
		text-align: center;
	}

} // end main-nav

#main-nav ul:after{
	content: "";
	display: block;
	clear: both;
}

.section h1 {
	font-size: $sectionheading;
	color: $deepblue;
}

.lead-banner {
	@include banner;
	text-align: right;
}

.lessons-banner {
	@include banner;
	li {
		text-transform: uppercase;
		font-size: 20px;
		max-width: 500px;
		margin: 60px, 0;
	}
}